<div class="container-fluid">
        <div class="row">
          
            <div class="displayBlockMobile" style="width:99.999%;z-index:1">
                <div class="col-sm-12 p-0">
                    <nav class="navbar navbar-expand-md navbar-fixed navbar-dark  bg-dark">
                        <a  [routerLink]="['/story']"><img src="../../assets/1000px-Beats_Electronics_logo.svg.png" class="img"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse people-list navbar-collapse" id="navbarSupportedContent">
                            <ul class="list">
                             <li [routerLink]="['/home']" >headphones</li> 
                             <li class="active" [routerLink]="['/earphone']">earphones</li>
                             <li  [routerLink]="['/speaker']">speakers</li>
                            
                            </ul>
                
                          </div>
                
                        </nav>
                
                    </div>
                    <div class="container-fluid">
                            <div class="row red">
                              <h2>BUY A MAC OR IPAD FOR COLLEGE. GET BEATS.</h2>
                              <h5 class="close">x</h5>
                            </div>
                        </div>    
                        <div class="container-fluid bgimg">
                            <div class="row">
                              <div class="col-md-12">
                                  <h1 class="header">Earphones</h1>
                              </div>
                            </div>
                        </div>
                       
                       </div>
                      </div>
                    </div>
                    <div class="container bg">
                     <div class="row center">
                         <div class="col-md-6">
                                <img class="beats" src="../../assets/302a_pcp.png.large.1x.png">
                         </div>
                         <div class="col-md-6">
                                <div class="card">
                                        
                                        <div class="card-body">
                                          <h5 class="card-title">urBeats³ with Lightning Connector</h5>
                                          <p class="card-text">Upgrade Your Sound.</p>
                                          <ul>
                                              <li>Lightning connector with RemoteTalk</li>
                                              <li>Tangle-free flat cable and magnetic earbuds</li>
                                              <li>Optimal ergonomic design for all-day comfort</li>
                                              <p class="amount">$59.95</p>
                                          </ul>
                                         
                                          <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                        </div>
                                      </div>
                            </div>
                     </div>
                    </div>
                    <div class="container bg">
                            <div class="row center">
                                <div class="col-md-6">
                                       <img class="beats" src="../../assets/302_pcp.png.large.1x.png">
                                </div>
                                <div class="col-md-6">
                                       <div class="card">
                                               
                                               <div class="card-body">
                                                 <h5 class="card-title">Beats Studio³ Wireless</h5>
                                                 <p class="card-text">Experience your music like never before.</p>
                                                 <ul>
                                                     <li>Pure Adaptive Noise Cancelling (Pure ANC)</li>
                                                     <li>Up to 40-Hours Listening Time</li>
                                                     <li> 10-minute charge = 3 hours of listening time</li>
                                                  
                                                     <p class="amount">$349.95</p>
                                                 </ul>
                                                
                                                 <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                               </div>
                                             </div>
                                   </div>
                            </div>
                           </div>
                           <div class="container bg">
                                <div class="row center">
                                    <div class="col-md-6">
                                           <img class="beats" src="../../assets/_0004_MLYE2-RGB-custom1_V2.png.large.1x.png">
                                    </div>
                                    <div class="col-md-6">
                                           <div class="card">
                                                   
                                                   <div class="card-body">
                                                     <h5 class="card-title">Beatsˣ</h5>
                                                     <p class="card-text">Talk. Listen. Beats.</p>
                                                     <ul>
                                                         <li>Up to 8 hours of battery life</li>
                                                         <li>With Fast Fuel, a 5-minute charge = 2 hours of playback</li>
                                                         <li>Apple W1 Chip & Class 1 Wireless Bluetooth®</li>
                                                         <p class="amount">$99.95</p>
                                                     </ul>
                                                    
                                                     <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                                   </div>
                                                 </div>
                                       </div>
                                </div>
                               </div>
                               <div class="container bg">
                                    <div class="row center">
                                        <div class="col-md-6">
                                               <img class="beats" src="../../assets/_0005_ML8V2-RGB-custom3_V2.png.large.1x.png">
                                        </div>
                                        <div class="col-md-6">
                                               <div class="card">
                                                       
                                                       <div class="card-body">
                                                         <h5 class="card-title">Powerbeats³ Wireless</h5>
                                                         <p class="card-text">Performance. Power. Freedom.</p>
                                                         <ul>
                                                             <li>Sweat and water resistant</li>
                                                             <li>Rotating ear cups</li>
                                                             <li>Up to 12 hours of battery life</li>
                                                             <li>With Fast Fuel, a 5-minute charge = 1 hour of playback</li>
                                                             <p class="amount">$199.95</p>
                                                         </ul>
                                                        
                                                         <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                                       </div>
                                                     </div>
                                           </div>
                                    </div>
                                   </div>
                                   <div class="container bg">
                                        <div class="row center">
                                            <div class="col-md-6">
                                                   <img class="beats" src="../../assets/pp-pcp-producttile-lrg.png.large.1x.png">
                                            </div>
                                            <div class="col-md-6">
                                                   <div class="card">
                                                           
                                                           <div class="card-body">
                                                             <h5 class="card-title">Powerbeats Pro</h5>
                                                             <p class="card-text">The Revolution in Sound</p>
                                                             <ul>
                                                                 <li>Totally wireless high-performance earphones</li>
                                                                 <li>Apple H1 Chip & Class 1 Wireless Bluetooth®</li>
                                                                 <li>Durable housing and cushioned headband</li>
                                                                 <li>Adjustable, secure-fit earhooks</li>
                                                                 <p class="amount">$249.95</p>
                                                             </ul>
                                                            
                                                             <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                                           </div>
                                                         </div>
                                               </div>
                                        </div>
                                       </div>
       
                   
    <!--footer-->
<div class="container-fluid footer">
    <div class="row">
      <div class="footer-main-div">
        <div class="footer-social-icons">
            <p class="footer-p">Follow me</p>
          <ul>
          <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
          <p>Copyright © 2019 Ashok Inc. - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
                 
  