<div class="container-fluid">
    <div class="row">
      
        <div class="displayBlockMobile" style="width:99.999%;z-index:1">
            <div class="col-sm-12 p-0">
                <nav class="navbar navbar-expand-md navbar-fixed navbar-dark  bg-dark">
                    <a  [routerLink]="['/story']" ><img src="../../assets/1000px-Beats_Electronics_logo.svg.png" class="img"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse people-list navbar-collapse" id="navbarSupportedContent">
                        <ul class="list">
                         <li [routerLink]="['/home']" class="active">headphones</li> 
                         <li [routerLink]="['/earphone']">earphones</li>
                         <li [routerLink]="['/speaker']" >speakers</li>
                       
                        </ul>
            
                      </div>
            
                    </nav>
            
                </div>
                <div class="container-fluid">
                        <div class="row red">
                          <h2>BUY A MAC OR IPAD FOR COLLEGE. GET BEATS.</h2>
                          <h5 class="close">x</h5>
                        </div>
                    </div>    
                    <div class="container-fluid bgimg">
                        <div class="row">
                          <div class="col-md-12">
                              <h1 class="header">Headphones</h1>
                          </div>
                        </div>
                    </div>
                   
                   </div>
                  </div>
                </div>
                <div class="container bg">
                 <div class="row center">
                     <div class="col-md-6">
                            <img class="beats" src="../../assets/_0001_MNEN2-RGB-bttm.png.large.1x.png">
                     </div>
                     <div class="col-md-6">
                            <div class="card">
                                    
                                    <div class="card-body">
                                      <h5 class="card-title">Beats Solo³ Wireless</h5>
                                      <p class="card-text">Designed for Sound. Tuned for Emotion.</p>
                                      <ul>
                                          <li>Up to 40-hours listening time</li>
                                          <li>With Fast Fuel, 5 minutes of charging = 3 hours of listening time</li>
                                          <li>Apple W1 Chip & Class 1 Wireless Bluetooth®</li>
                                          <p class="amount">$199.95</p>
                                      </ul>
                                     
                                      <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                    </div>
                                  </div>
                        </div>
                 </div>
                </div>
                <div class="container bg">
                        <div class="row center">
                            <div class="col-md-6">
                                   <img class="beats" src="../../assets/_0002_overear-pro-black-rgb-thrqrtleft.png.large.1x.png">
                            </div>
                            <div class="col-md-6">
                                   <div class="card">
                                           
                                           <div class="card-body">
                                             <h5 class="card-title">Beats Studio³ Wireless</h5>
                                             <p class="card-text">Experience your music like never before.</p>
                                             <ul>
                                                 <li>Pure Adaptive Noise Cancelling (Pure ANC)</li>
                                                 <li>Up to 40-Hours Listening Time</li>
                                                 <li> 10-minute charge = 3 hours of listening time</li>
                                              
                                                 <p class="amount">$349.95</p>
                                             </ul>
                                            
                                             <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                           </div>
                                         </div>
                               </div>
                        </div>
                       </div>
                       <div class="container bg">
                            <div class="row center">
                                <div class="col-md-6">
                                       <img class="beats" src="../../assets/ep_pcp_1292x1480.png.large.1x.png">
                                </div>
                                <div class="col-md-6">
                                       <div class="card">
                                               
                                               <div class="card-body">
                                                 <h5 class="card-title">Beats EP</h5>
                                                 <p class="card-text">Start Listening. Enter Premium Sound.</p>
                                                 <ul>
                                                     <li>Fine-tuned acoustics</li>
                                                     <li>Lightweight design reinforced with stainless steel</li>
                                                     <li>Battery free for unlimited playback</li>
                                                     <p class="amount">$129.95</p>
                                                 </ul>
                                                
                                                 <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                               </div>
                                             </div>
                                   </div>
                            </div>
                           </div>
                           <div class="container bg">
                                <div class="row center">
                                    <div class="col-md-6">
                                           <img class="beats" src="../../assets/443_pcp_retina.png.large.1x.png">
                                    </div>
                                    <div class="col-md-6">
                                           <div class="card">
                                                   
                                                   <div class="card-body">
                                                     <h5 class="card-title">Beats Pro</h5>
                                                     <p class="card-text">The Revolution in Sound</p>
                                                     <ul>
                                                         <li>Premium Sound Quality</li>
                                                         <li>Rotating ear cups</li>
                                                         <li>Durable housing and cushioned headband</li>
                                                         <li>Apple W1 Chip & Class 1 Wireless Bluetooth®</li>
                                                         <p class="amount">$399.95</p>
                                                     </ul>
                                                    
                                                     <a [routerLink]="['/buy']" class="btn btn-primary">Buy Now</a>
                                                   </div>
                                                 </div>
                                       </div>
                                </div>
                               </div>

<!--footer-->
<div class="container-fluid footer">
  <div class="row">
    <div class="footer-main-div">
      <div class="footer-social-icons">
          <p class="footer-p">Follow me</p>
        <ul>
        <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
        <p>Copyright © 2019 Ashok Inc. - All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
               
